/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
    font-family: 'CodeProDemoRegular';
    src: url('fonts/Code_Pro_Demo-webfont.eot');
    src: url('fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font-family: "CodeProDemoRegular", Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.1;
  overflow-x: hidden;
}

p { margin: 1em 0; }

a         { color: #C2172A; }
a:hover   { color: #C2172A; text-decoration: underline; }
a:visited { color: #C2172A; }

a.fa            { color: #000; text-decoration: none; }
a.fa:hover      { color: #C2172A; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

.posts li {
  line-height: 1.60em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  margin-bottom: 0px;
  font-size: 9em;
}

.welcome {
  font-size: 7em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  font: 18px "Open Sans", Helvetica, Arial, sans-serif;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-title {
  font-size: 200%;
  padding-top: 10px;
}

.btn-social-media {
  padding: 5px;
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 2.9em;
  }

  .welcome-text {
    font-size: 30%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .title {
    font-size: 3.5em;
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 5.0em;
  }
}

@media only screen and (min-width: 769px) and (min-width : 1024px) {
  .title {
    font-size: 9.0em;
  }
}

.welcome-text {
  margin-top: 0px;
}

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
.project-description {
  font: 18px "Open Sans", Helvetica, Arial, sans-serif;
}