/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
    font-family: 'CodeProDemoRegular';
    src: url('fonts/Code_Pro_Demo-webfont.eot');
    src: url('fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px "CodeProDemoRegular", Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #C2172A; }
a:hover   { color: #C2172A; text-decoration: underline; }
a:visited { color: #C2172A; }

a.fa            { color: #000; text-decoration: none; }
a.fa:hover      { color: #C2172A; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  font-size: 115%;
  text-align: justify;
  width: 800px;
/*  margin: 3em auto 2em;*/
/*  line-height: 1.5em;
*/}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 600%;
}

.title a {
  color: #C2172A;;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.welcome {
  font-size: 250%;
}

/*.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}*/

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  font: 18px "Open Sans", Helvetica, Arial, sans-serif;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-title {
  font-size: 200%;
  padding-top: 10px;
}

.btn-social-media {
  padding: 5px;
}

.fa {
  margin: 0px 15px 0px 15px;
}
