---
layout: default
title: Davewalk.net
---

<div id="home">
	<div class="welcome row">
		<div class="col-md-12">
			<h1 class="welcome-text">Here's a sample of the projects that I've worked on recently.</h1>
		</div>
	</div>
  <ul class="projects">
    {% for project in site.data.projects %}
      <h3>{{ project.name }}</h3><br />
      <p><span class="project-description">{{ project.description }}</span></p>
      {% if project.link %}
      	Link: <a href="{{ project.link }}">{{ project.link }}</a><br />
      {% endif %}
      {% if project.github %}
      Code: <a href="{{ project.github }}">{{ project.github }}</a><br />
      {% endif %}
      Technologies: {{ project.technologies }}
    {% endfor %}
  </ul>
  <h3>I am currently looking for new projects so please get in touch!</h3>

  <div class="row">
	<div><a class="col-md-1 col-xs-4 fa fa-github fa-5x" href="http://github.com/davewalk"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-twitter fa-5x" href="http://twitter.com/ddw17"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-envelope fa-5x" href="mailto:daviddwalk@gmail.com"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-rss-square fa-5x" href="http://feeds.feedburner.com/davewalk"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-linkedin fa-5x" href="http://linkedin.com/in/daviddwalk"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-google-plus fa-5x" href="https://plus.google.com/+DaveWalk"></a></div>
	<div><a class="col-md-1 col-xs-4 fa fa-instagram fa-5x" href="http://instagram.com/ddw17"></a></div>
</div>
</div>