<h1>I am currently looking for new projects, so please get in touch!</h1>
<div class="row">
	<div><a class="col-md-1 fa fa-github fa-5x" href="http://github.com/davewalk"></a></div>
	<div><a class="col-md-1 fa fa-twitter fa-5x" href="http://twitter.com/ddw17"></a></div>
	<div><a class="col-md-1 fa fa-envelope fa-5x" href="mailto:daviddwalk@gmail.com"></a></div>
	<div><a class="col-md-1 fa fa-rss-square fa-5x" href="/"></a></div>
	<div><a class="col-md-1 fa fa-linkedin fa-5x" href="linkedin.com/in/daviddwalk"></a></div>
	<div><a class="col-md-1 fa fa-google-plus fa-5x" href="https://plus.google.com/+DaveWalk"></a></div>
	<div><a class="col-md-1 fa fa-instagram fa-5x" href="http://instagram.com/ddw17"></a></div>
</div>